.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.button-container {
    display: flex;
    justify-content: center;
}
.header-btn {
    padding: 0.2em;
    margin: 0.3em;
    cursor: pointer;
}
